@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply px-6 h-12 font-mono text-body-sm border uppercase flex justify-center items-center font-medium tracking-widest;
  }

  .bg-card-gradient {
    @apply bg-gradient-to-b from-[#4C618C]/20 to-[#222C40]/20;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-content bg-midnight;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
